# RAPID-0 Policy: All firmware is owned by the PM, CE, software 
# lead, and any other subteam leads who are considered qualified 
# to manage firmware project-wide by the former.

* @theancientpoop @AlexanderSHartman @astropancake72 @connorperrone